auto-sklearn==0.15.0
joblib==1.2.0
matplotlib==3.5.1
pandas==1.5.1
plotly==5.14.1
python-dotenv==1.0.0
pytz==2022.1
requests==2.25.1
scikit-learn==0.24.2
SQLAlchemy==1.4.46
timezonefinder==6.2.0
tqdm==4.65.0
xgboost==1.7.5
Flask-SocketIO==5.3.4